<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Inventory Added Successfully</title>
</head>
<body>
    <h2>Hello! </h2>
    <p>Your inventory for {{name}} was created successfully. Here are the details below</p>
    <p> Product ID : {{ticketNumber}}</p>
    <p> Name: {{ticketDetails.name}}</p>
    <p> Category of Equipment: {{ticketDetails.categoryOfEquipment}}</p>
    <p> Total Quantity: {{ticketDetails.totalQty}}</p>
    <p> Available Quantity: {{ticketDetails.availableQty}}</p>
    <p> Location: {{ticketDetails.location}}</p>
    <p> Descripion: {{ticketDetails.description}}</p>
    <p> Owner Mail: {{ticketDetails.ownermail}}</p>
</body>
</html>