<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Site Created Successfully</title>
</head>
<body>
    <h2>Hello! </h2>
    <p>Your Site Request for {{name}} was created successfully. Here are the details below</p>
    <p> Ticket Number : {{ticketNumber}}</p>
    <p> Name: {{ticketDetails.name}}</p>
    <p> Category of Equipment: {{ticketDetails.categoryOfEquipment}}</p>
    <p> Location: {{ticketDetails.location}}</p>
    <p> Descripion: {{ticketDetails.description}}</p>
</body>
</html>