<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Inventory Deleted Successfully</title>
</head>
<body>
    <h2>Hello! </h2>
    <p>Your Inventory for {{productId}} was deleted successfully</p>
</body>
</html>