<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Inventory Updated Successfully</title>
</head>
<body>
    <h2>Hello! </h2>
    <p>Your Available Quantity for {{productId}} was updated successfully</p>
    <p>Available Quantity : {{availableQty}} </p>
</body>
</html>