<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Site Updated Successfully</title>
</head>
<body>
    <h2>Hello! </h2>
    <p>Your location for {{ticketNumber}} was updated successfully</p>
    <p>Locaton : {{location}} </p>
</body>
</html>